#portrait{
    width: 100%;
    height: auto;
}

.portrait-description{
    margin-top: 5px;
    margin-bottom: 20px;
    padding-left: 2px;
    color: $medium-grey;
    font-style: italic;
}
#portrait{
    img{
        max-width: 100%;
    }
}

