.wpcf7 form .wpcf7-response-output {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: $darker-grey;
    @include mQ ($lg){
        font-weight: 200;
    }
    margin: 2em 0.5em 1em;
    padding: 0.2em 1em;
    border: 2px solid #e4e4e4; /* Grey */
    border-radius: 5px;
}
 
.wpcf7 form.init .wpcf7-response-output {
    display: none;
}
 
.wpcf7 form.sent .wpcf7-response-output {
    border-color: #73db7b; /* Green */
}
 
.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
    border-color: #dc3232; /* Red */
}
 
.wpcf7 form.spam .wpcf7-response-output {
    border-color: #f99461; /* Orange */
}
 
.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output {
    border-color: #fcdc83; /* Yellow */
}
.wpcf7-not-valid-tip{
    color: $pm-pink;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.wpcf7-spinner{
    display: none;
}