.footer{
    margin-top: 50px;
    #footer-banner{
        width: 100vw;
        background: $between-lighter-lightest-grey;
        color: $darker-grey;
        text-align: center;
        padding-top: 10px;
        margin-top: 0;
        padding-bottom: 10px;
    }
    #footer-content{
        box-shadow: 0px -1px 1px 0px $lighter-grey;
        border-radius: 25px 25px 0 0;
        margin-bottom: 0;
        margin: 0 5px 40px 0;
        padding-top: 30px;
        width: 95vw;
    }
    
    .menu-items{
        width: 80%;
        margin-top: 30px;
        ul{
            text-transform: lowercase;
            list-style: none;
            padding-left: 0;
            @include mQ ($md) {
                text-align: center;
            }
            li{
                line-height: 1em;
                padding-top: 5px;
                margin-bottom: 10px;
                display: inline-block;
                &:not(:last-child){
                    padding-right: 10px;
                    border-right: 2px solid $lighter-grey;
                    margin-right: 10px;
                }
            }
        }
    }
    .button-group, .socials-group{
        width: 80%;
        margin-top: 30px;
        @include mQ ($md){
            text-align: center;
        }
    }
    #las-footer{
        padding: 0 20px;
        a{
            color: $medium-grey;
            line-height: 0.9em;
            @include mQ ($md) {
                font-size: 0.9em;
                line-height: 1em;
            }
        }
        #my-logo{
            img{
                width: 25px;
                margin-right: 10px;
            }
        }
           
    }
}
/* -------------------------------------------------------------------------- */
/*                      next page and previous page icons                     */
/* -------------------------------------------------------------------------- */

.btn.next-button{
    padding-left: 30px;
    background: $lightest-grey;
    border: 1px solid $darker-grey;
    border-radius: 2em;
    font-size: 1.3em;
    font-weight: 200;
    padding-right: 100px;
    transition: all 0.5s;
    next-icon{
        background-color: $pm-pink;
        border-radius: 2em;
        border: 1px solid $pm-pink;
        position: absolute;
        right: 0;
        top: 0;
        padding: 0 30px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        transition: all 0.5s;
    }
    @include mQ ($xxl){
        margin-right: 100px;
    }
}

.btn.next-button:active, 
.btn.next-button:focus, 
.btn.next-button.active,
.btn.next-button:hover {
    padding-left: 20px;
    padding-right: 120px;
    next-icon{
        padding: 0 40px;
        background: $pm-pink-hover;
    }
} 

#to-top{
    position: fixed;
    bottom: -200px;
    right: 10px;
    opacity: 0.8;
    transition: all 0.5s;
    @include mQ ($md) {
        right: 25px;
    }
    @include mQ ($xxl) {
        font-size: 1.5em;
        width: 2em;
        height: 2em;
    }
}
#to-top:hover, #to-top:active{
    background: $lighter-grey;
}