
/* -------------------------------------------------------------------------- */
/*                              Alignment styles                              */
/* -------------------------------------------------------------------------- */
.inline-flex-center-center{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


/* -------------------------------------------------------------------------- */
/*                                Color Styles                                */
/* -------------------------------------------------------------------------- */
.pm-pink{
    color: $pm-pink;
}


/* -------------------------------------------------------------------------- */
/*                          Repeatable element styles                         */
/* -------------------------------------------------------------------------- */
.rounded-top-only{
    background: white;
    box-shadow: 0px -1px 1px 0px $lighter-grey;
    border-radius: 35px 35px 0 0;
    margin-bottom: 0;
    padding-top: 15px;
    width: 90vw;
    padding-bottom: 10px;
    @include mQ ($lg){
        box-shadow: 0px -2px 2px 1px rgba($lighter-grey, 0.8);
    }
}
.rounded-bottom-only{
    background: white;
    box-shadow: 0px 1px 3px 0px $lighter-grey;
    border-radius: 0 0 35px 35px;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 10px;
    @include mQ ($lg) {
        box-shadow: 0px 2px 4px 1px $lighter-grey;
    }
}



/* -------------------------------------------------------------------------- */
/*                                 Icon styles                                */
/* -------------------------------------------------------------------------- */
.pm-icon{
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 1px 1px lighten($lighter-grey, 10);
    img{
        max-height: 60%;
        max-width: 60%;
    }
    @include mQ ($lg){
        width: 80px;
        height: 80px;
    }
    @include mQ ($xxl){
        width: 100px;
        height: 100px;
    }
}
.pm-big-icon{
    width: 60px;
    height: 60px;
    min-height: 60px;
    min-width: 60px;
    background: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 1px 1px lighten($lighter-grey, 10);
    h1{
        transform: translateY(5px);
        color: $darker-grey;
        font-size: 2em;
    }
    img{
        max-height: 60%;
        max-width: 60%;
    }
    @include mQ ($md){
        width: 80px;
        height: 80px;
    }
}

.pm-icon-text{
    h4{
        color: $darkest-grey;
        font-size: 1.2em;
        font-weight: 300;
    }
}

/* -------------------------------------------------------------------------- */
/*                        Contact page footer situation                       */
/* -------------------------------------------------------------------------- */

.flex-container{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;;
}