
/* -------------------------------------------------------------------------- */
/*                               Banner: Network                              */
/* -------------------------------------------------------------------------- */
#network-container{
    padding: 0;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow: hiddent;
    position: relative;
    background: $lightest-grey;
    @include mQ ($md, 'portrait'){
        height: 60vh;
    }
    @include mQ ($lg){
        height: 75vh;
        box-shadow: 0px 1px 3px 3px lighten($lighter-grey, 10);
    }
    
}
#particles-js{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
    position: absolute;
    @include mQ ($md, 'portrait'){
        height: 60vh;
    }
    @include mQ ($lg){
        height: 75vh;
    }
}

#opaque-layer{
    width: 100vw;
    height: 100%;
    overflow: hidden;
    position: absolute;top: 0;
    left: 0;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 55%, rgba(255, 255, 255, 0.5) 100%,);
    @include mQ ($md, 'portrait') {
        background: linear-gradient(180deg, rgba(255,255,255,0.5) 20%, rgba(255,255,255,0) 60%, rgba(255,255,255,0.5) 100%,);
    }
}
#particles-text{
    width: 100vw;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    
    h1{
        padding-bottom: 20vh;
        text-shadow: 2px 2px 5px white;
        @include mQ ($lg){
            font-size: 3em;
            font-weight: 200;
            padding-bottom: 30vh;
        }
    }
    #website-title{
        padding-bottom: 0;
        font-size: 1.4em;
        @include mQ ($lg){
            font-size: 1.8em;
            font-weight: 400; 
            padding-bottom: 20px;
        }
    }
}
#typewriter{
    @include mQ ($md){
        width: 75%;
        box-shadow: 0px -1px 1px 0px $lighter-grey;
    }
}





/* -------------------------------------------------------------------------- */
/*                               Stuck animation                              */
/* -------------------------------------------------------------------------- */
#stuck-animation{
    width: 60vw;
    height: 60vw;
    border-radius: 100%;
    background: white;
    box-shadow: 1px 2px 1px 1px lighten($lighter-grey, 10);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    img{
        width: 80%;
    }
    @include mQ ($md){
        width: 100%;
        height: 100%;
        background: none;
        border-radius: none;
        box-shadow: none;
        img{
            max-width: 80%;
            max-height: 80%;
        }
    }
    @include mQ ($lg, 'landscape'){
        justify-content: right;
        img{
            width: 80%;
            height: auto;
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                           Leadership coach pop-out                          */
/* -------------------------------------------------------------------------- */
#pop-out{
    box-shadow: 0px -1px 1px 0px $lighter-grey;
    border-radius: 35px;
    margin-bottom: 0;
    padding-top: 70px;
    padding-bottom: 40px;
    @include mQ ($md) {
        border-radius: 0 35px 35px 0;
        transform: translateX(-10px);
        padding-top: 30px;
        padding-bottom: 25px;
    }
    @include mQ ($lg){
        padding-top: 75px;
        padding-bottom: 75px;
        box-shadow: 0px -2px 3px 1px $lighter-grey;
    }
    @include mQ ($xxl){
        padding-top: 70px;
        padding-bottom: 70px;
    }
}
#pop-over-container{
    @include mQ ($md){
        margin-left: 0;
        padding-left: 0;
        padding-top: 3rem;
    }
}

/* -------------------------------------------------------------------------- */
/*                                 Paper plane                                */
/* -------------------------------------------------------------------------- */
#paper-plane{
    @include mQ ($xxl){
        padding-top: 5rem;
    }
    .row{
        --bs-gutter-x: 0;
    }
}

/* -------------------------------------------------------------------------- */
/*                              General elements                              */
/* -------------------------------------------------------------------------- */
.homepage-divider{
    @include mQ ($md) {
        height: 5vh;
    }
    @include mQ ($xxl){
        height: 2vh;
    }
}

/* -------------------------------------------------------------------------- */
/*                                  Offerings                                 */
/* -------------------------------------------------------------------------- */
.offering{
    background: white;
    border-radius: 25px; 
    padding: 30px; 
    box-shadow: 0px -1px 3px 0px $lighter-grey;
    height: 100%;
    h2{
        font-size: 1.3em;
        text-transform: uppercase;
        margin-bottom: 15px; 
    }
}

next-home-icon{
    display: block;
    background-color: $pm-pink;
    border-radius: 2em;
    border: 1px solid $pm-pink;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.5s;
    font-size: 1.5em;
    height: 1.6em;
}


/* -------------------------------------------------------------------------- */
/*                                To be deleted                               */
/* -------------------------------------------------------------------------- */
.temp{
    height: 50vh;
}