
/* -------------------------------------------------------------------------- */
/*                             entire loading page                            */
/* -------------------------------------------------------------------------- */
:root {
    --background-color: white;
  }
#loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100000000;
  background: white;
}
#container-loader{
    @include mQ ($md, 'portrait') {
        padding-top: 25%;
    }
    @include mQ ($xxl, 'landscape') {
        padding-top: 10%;
    }
}
.loader-container ::before {
    position: absolute;
    content: "";
}

/* -------------------------------------------------------------------------- */
/*                                 Containers                                 */
/* -------------------------------------------------------------------------- */
.loader-container {
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translate(-50%, -50%);
    background: var(--background-color);
    @include mQ ($md, 'portrait'){
        bottom: 40%;
    }
    @include mQ ($md, 'landscape') {
        bottom: 30%;
    }
    @include mQ ($xxl, 'landscape') {
        bottom: 40%;
    }
}
  
  /* reflection of the animation in the bottom */
  .wrapper {
    -webkit-box-reflect: below 5px
      linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    /*  Just to make it center  */
    transform: translatey(-25%);
  }

  
/* -------------------------------------------------------------------------- */
/*                        center white/invisible circle                       */
/* -------------------------------------------------------------------------- */
  .loading {
    width: 150px;
    height: 150px;
    border-radius: 999px;
    transform: rotate(-45deg);
    animation: animated-curve 2.5s ease-in-out infinite;
    margin: auto;
  }
  

  /* -------------------------------------------------------------------------- */
  /*                           Light grey semi-circle                           */
  /* -------------------------------------------------------------------------- */
  .loading::before {
    bottom: 0;
    background: #E6E6E6;
    width: 100%;
    height: 50%;
    border-radius: 0 0 999px 999px;
  }
  
  /* -------------------------------------------------------------------------- */
  /*                                The pm-pink ball                               */
  /* -------------------------------------------------------------------------- */
  /* inner-cirle with the ball */
  .inner_circle {
    position: absolute;
    inset: 20px;
    background: var(--background-color);
    border-radius: 999px;
    animation: animated-ball 2.5s ease-in-out infinite;
  }
  
  /* style for the ball */
  .inner_circle::before {
    inset: 2px;
    top: 45%;
    background: #FF5C58;
    width: 25px;
    height: 25px;
    border-radius: 999px;
  }
  

/* -------------------------------------------------------------------------- */
/*                                  Keyframes                                 */
/* -------------------------------------------------------------------------- */
  /* rotating the ball from initial point to -180deg */
  @keyframes animated-ball {
    50% {
      transform: rotate(-180deg);
    }
  }
  
  /* rotating the circle from initial point (-45deg) to 45deg */
  @keyframes animated-curve {
    50% {
      transform: rotate(45deg);
    }
  }
  