#main-menu{
    z-index: 500;
    position: fixed;
    top: 0;
    left: 100vw;
    background: white;
    width: 100vw;
    height: 100vh;
    overflow: none;
    padding-top: 50px;
    opacity: 0;
    transition: left 0.3s ease-in, opacity 0.3s ease-in;
    @include mQ ($md){
        transition: left 0.5s ease-in, opacity 0.5s ease-in;
    }
    .menu-items{
        width: 80%;
        transform: translateX(100%);
        transition: transform 0.4s;
        transition-delay: 0.2s;
        @include mQ ($md) {
            transition-delay: 0.4s
        }
        ul{
            text-transform: lowercase;
            list-style: none;
            padding: 0;
            li{
                font-size: 1.4em;
                line-height: 1.4em;
                margin-bottom: 10px;
                @include mQ ($lg, 'landscape'){
                    font-size: 1em;
                }
            }
        }
    }
    .button-group, .socials-group{
        width: 80%;
        margin-top: 30px;
        font-size: 1.4em;
        @include mQ ($lg, 'landscape'){
            font-size: 1em;
        }
    }
    .button-group{
        transform: translateX(120%);
        transition: transform 0.4s;
        transition-delay: 0.2s;
        @include mQ ($md) {
            transition-delay: 0.45s
        }
    }
    .socials-group{
        transform: translateY(100px);
        transition: transform 0.4s ease-in-out;
        transition-delay: 0.3s;
        @include mQ ($md) {
            transition-delay: 0.6s
        }
    }
    @include mQ ($md) {
        width: 50vw;
        margin-left: 50vw;
    }
    @include mQ ($xl){
        width: 40vw;
        margin-left: 70vw;
    }
}
#main-menu.open{
    left: 0;
    opacity: 1;
    .menu-items{
        transform: translateX(0);
    }
    .button-group{
        transform: translateX(0);
    }
    .socials-group{
        transform: translateY(0);
    }
}
#main-menu-cover{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(white, 0.7);
}
#wrapper{
    transition: filter 0.5s ease-in, opacity 0.5s ease-in;
}
#wrapper.open{
    filter: blur(4px);
    opacity: 0.5;
    pointer-events: none;
}