
.menu-icons{
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    z-index: 1000;
    @include mQ ($md){
        width: 100vw;
    }
}
#logo{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    color: $pm-pink;
    background: white;
    box-shadow: -1px 1px 1px 1px lighten($lighter-grey, 10);
    border-radius: 0 0 0 15px;
    padding-left: 2px;
    width: 52px;
    height: 50px;
    margin: 0;
    z-index: 1001;
    transition: color 0.2s, background 0.5s, width 0.5s;
    &:hover{
        width: 60px;
        background: $pm-pink;
        color: white;
    }
}
#md-logo{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    color: white;
    background: $pm-pink;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0 0 15px 0;
    left: 0;
    box-shadow: 1px 1px 1px 1px $lighter-grey;
    transition: all 0.5s;
    &:hover{
        padding-left: 15px;
        padding-right: 15px;
        background: $pm-pink-hover;
        cursor: pointer;
    }
    @include mQ ($xxl){
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 3px; 
    }
}
#offerings-btn{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: white;
    background: $lighter-grey;
    box-shadow: -1px 1px 1px 1px $lighter-grey;
    border-radius: 0 0 0 15px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    margin: 0;
    z-index: 1001;
    transition: all 0.5s;
    &:hover{
        padding-right: 15px;
        padding-left: 15px;
        background: $pm-pink;
        cursor: pointer;
    }
}





#burger-nav{
    margin: 0;
    width: 50px;
    height: 50px;
    background: $medium-grey;
    box-shadow: 0 1px 1px 01px $lighter-grey;  
    transition: all 0.5s;
    &:hover{
        cursor: pointer;
        background: $medium-grey-hover;
        width: 65px;
    }  
}

/* nav-icon-5 */
.nav-icon-5{
  width: 35px;
  height: 20px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.nav-icon-5 span{
  background-color:#fff;
  position: absolute;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  width:100%;
  height: 2px;
  transition-duration: 500ms
}
.nav-icon-5 span:nth-child(1){
  top:0px;
  left: 0px;
}
.nav-icon-5 span:nth-child(2){
  top: 9px;
  left: 0px;
  opacity:1;
}
.nav-icon-5 span:nth-child(3){
  bottom:0px;
  left: 0px;
}
@include mQ ($lg){
    .nav-icon-5:not(.open):hover span:nth-child(1){
        transform: rotate(-3deg) scaleY(1.1);
      }
      .nav-icon-5:not(.open):hover span:nth-child(2){
        transform: rotate(3deg) scaleY(1.1);
      }
      .nav-icon-5:not(.open):hover span:nth-child(3){
        transform: rotate(-4deg) scaleY(1.1);
      }
}
.nav-icon-5.open span:nth-child(1){
  transform: rotate(45deg);
  top: 8px;
}
.nav-icon-5.open span:nth-child(2){
  opacity:0;
}
.nav-icon-5.open span:nth-child(3){
  transform: rotate(-45deg);
  top: 8px;
}