/* -------------------------------------------------------------------------- */
/*                              // media queries                              */
/* -------------------------------------------------------------------------- */
@mixin mQ ($arg...){
    @if length($arg) == 1{
        @media only screen and (min-width: nth($arg, 1)){
            @content
        }
    }
    @if length($arg) == 2{
        @media only screen and (min-width: nth($arg, 1)) and (orientation: nth($arg, 2)){
            @content
        }
    }
}


/* -------------------------------------------------------------------------- */
/*                                   colours                                  */
/* -------------------------------------------------------------------------- */

$color-list: (
    darkest-grey: #2d2d2d,
    darker-grey: #6F6F6F,
    medium-grey: #9F9E9E,
    medium-grey-hover: #868585,
    lighter-grey: #CCCCCC,
    lighter-grey-hover: #E6E6E6,
    between-lighter-lightest-grey: #F0F0F0,
    lightest-grey: #FAFAFA,
    pm-pink: #FF5C58,
    pm-pink-hover: #D93632
);

@each $name, $color in $color-list {
    .bg-#{$name}{
        background-color: $color;
    }
    .text-#{$name}{
        color: $color;
    }
}