h1.offering-headline{
    font-size: 1.8em;
    color: $darker-grey;
}

.diagram{
    @include mQ ($lg){
        max-width: 75%;
    }
}
.diagram-big{
    @include mQ ($md){
        max-width: 75%;
    }
}

#offering-selection{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 500;
    @include mQ ($md) {
        z-index: 10000;
    }
}

.offerings-btn{
    font-size: 0.8em!important;
    border-radius: 0!important;
    @include mQ ($md) {
        border-radius: 5px 5px 0 0!important;
        padding: 15px 5px;
    }
}
.btn-dropdown, .btn-dropdown:hover{
    background: $pm-pink;
    color: white;
    border-radius: 25px;
    font-size: 1em;
    font-weight: 300;
    transition: all 0.2s ease-out;
}
