/* Theme Name: PG May
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: pg-may
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

PG May is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

@import 'var', 'mixins', 'general-elements', 'loading', 'menu-bar', 'menu', 'footer', 'homepage', 'about-me', 'timeline', 'offering', 'contact-form-7';


/* -------------------------------------------------------------------------- */
/*                                   General                                  */
/* -------------------------------------------------------------------------- */
html,body{
    width: 100vw;
    max-width: 100vw;
}
.container, .container-fluid{
    max-width: 100vw;
    // overflow-x: hidden;
}
body{
    font-size: 1em;
    visibility: hidden;
    @include mQ ($xxl){
        font-size: 1.3em;
    }
}
div.body-padding-top{
    padding-top: 100px;
    @include mQ ($xxl){
        padding-top: 150px;
    }
}
div.header-padding-top{
    padding-top: 50px;
}
.container-fluid{
    padding-right: 0;
    padding-left: 0;
}

/* -------------------------------------------------------------------------- */
/*                                    Fonts                                   */
/* -------------------------------------------------------------------------- */
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8em;
    font-weight: 400;
    color: $medium-grey;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8em;
    font-weight: 200;
    color: $darker-grey;
}
h2.smaller{
    font-size: 1.5em;
}

h3{
    font-size: 1.5em;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    color: $medium-grey;
    @include mQ ($lg){
        font-size: 2em;
    }
}
h4{
    font-weight: 300;
    color: $darker-grey;
}
h6{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    color: $darker-grey;
}
li, p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: $darker-grey;
    @include mQ ($lg){
        font-weight: 200;
    }
}
li{
    padding-bottom: 10px;
}
b{
    font-weight: 700;
}
ul{
    padding-left: 1rem;
}
a{
    display: inline-block;
    position: relative;
    color: $darker-grey;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    transition: color 0.5s ease-out;
    font-weight: 300;
    &:active, &:hover{
        color: $darker-grey;
    }
    @include mQ ($lg){
        font-size: 1.2em;
    }
}


/* Fade in */
a:not(.btn)::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1em;
	background-color: $pm-pink;
	opacity: 1;
    transform: scale(0);
	transform-origin: center;
	transition: opacity 300ms, transform 300ms;
    color: $darker-grey;
}

a:not(.btn):hover::after,
a:not(.btn):focus::after {
	opacity: 1;
	transform: translate3d(0, 0.8em, 0);
    transform: scale(1);
    color: $darker-grey;
}

.faded{
    color: $lighter-grey;
}
.uppercase{
    text-transform: uppercase;
}

/* -------------------------------------------------------------------------- */
/*                                   Buttons                                  */
/* -------------------------------------------------------------------------- */
.btn.btn-pm-pink{
    background: $pm-pink;
    color: white;
    border-radius: 25px;
    font-size: 0.9em;
    font-weight: 300;
    transition: all 0.2s ease-out;
    @include mQ ($lg){
        font-size: 1.2em;
    }
    @include mQ ($xxl){
        padding-right: 20px;
        padding-left: 20px;
    }
}
.btn.btn-pm-pink:hover{
    background: $pm-pink-hover;
    box-shadow: 1px 1px 1px 2px $lighter-grey;
}

.btn.btn-grey{
    background: $medium-grey;
    color: white;
    border-radius: 25px;
    font-size: 0.9em;
    font-weight: 300;
    transition: all 0.2s ease-out;
    @include mQ ($lg){
        font-size: 1.2em;
    }
    @include mQ ($xxl){
        padding-right: 20px;
        padding-left: 20px;
    }
}
.btn.btn-grey:hover{
    background: $darker-grey;
    box-shadow: 1px 1px 1px 2px $lighter-grey;
}

.btn.btn-social{
    background: $lighter-grey;
    color: white;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.btn.btn-social:hover{
    background: $pm-pink;
    box-shadow: 1px 1px 1px 2px $lighter-grey;
}
