
/* -------------------------------------------------------------------------- */
/*                          Timeline Visual Elements                          */
/* -------------------------------------------------------------------------- */

.timeline-container{
    height: auto;
    overflow: hidden;
    position: relative;
}
.top-circle{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: $lighter-grey;
    position: absolute;
    left: 20px;
    top: 0;
}
.bottom-circle{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: $pm-pink;
    position: absolute;
    left: 20px;
    bottom: 0;
}
.center-line{
    position: absolute;
    left: 30px;
    height: 100%;
    border-left: 2px dashed $medium-grey;
    stroke-dasharray: 10;
}

/* -------------------------------------------------------------------------- */
/*                    Text Components with horizontal line                    */
/* -------------------------------------------------------------------------- */
.content-experience{
    width: 80%;
    transform: translateX(30%);
    margin-top: 50px;
    margin-bottom: 50px;
    @include mQ ($md){
        transform: translateX(20%);
        margin-top: 25px;
        margin-bottom: 25px;
    }
    div{
        width: 100%;
        transform: translate(-19%, 0.4em);
        position: relative;
        .line{
            border-top: 2px dashed $medium-grey;
            stroke-dasharray: 10;
            width: 15%;
            position: absolute;
            top: 0;
            left: 0;
        }
        @include mQ ($md){
            transform: translate( -10%, 0.4em);
            .line{
                width: 10%;
            }
        }
        @include mQ ($xxl){
            transform: translate( -14%, 0.4em);
        }
    }
}
.first-experience{
    margin-top: 70px;
}

/* -------------------------------------------------------------------------- */
/*                                 Text styles                                */
/* -------------------------------------------------------------------------- */
span.company{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    color: $pm-pink;
}
span.location{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    color: $darker-grey;
}
p.position{
    color: $medium-grey;
}