
/* --------------------------------- colors --------------------------------- */
$darkest-grey: #2d2d2d;
$darker-grey: #6F6F6F;
$medium-grey: #9F9E9E;
$medium-grey-hover: darken($medium-grey, 10);
$lighter-grey: #CCCCCC;
$lighter-grey-hover: darken($lighter-grey, 10);
$between-lighter-lightest-grey: #F0F0F0;
$lightest-grey: #FAFAFA;
$pm-pink: #FF5C58;
$pm-pink-hover: darken($pm-pink, 15);


/* ------------------------------- breakpoints ------------------------------ */
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;