/* Theme Name: PG May
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: pg-may
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

PG May is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
/* --------------------------------- colors --------------------------------- */
/* ------------------------------- breakpoints ------------------------------ */
/* -------------------------------------------------------------------------- */
/*                              // media queries                              */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                   colours                                  */
/* -------------------------------------------------------------------------- */
.bg-darkest-grey {
  background-color: #2d2d2d;
}

.text-darkest-grey {
  color: #2d2d2d;
}

.bg-darker-grey {
  background-color: #6F6F6F;
}

.text-darker-grey {
  color: #6F6F6F;
}

.bg-medium-grey {
  background-color: #9F9E9E;
}

.text-medium-grey {
  color: #9F9E9E;
}

.bg-medium-grey-hover {
  background-color: #868585;
}

.text-medium-grey-hover {
  color: #868585;
}

.bg-lighter-grey {
  background-color: #CCCCCC;
}

.text-lighter-grey {
  color: #CCCCCC;
}

.bg-lighter-grey-hover {
  background-color: #E6E6E6;
}

.text-lighter-grey-hover {
  color: #E6E6E6;
}

.bg-between-lighter-lightest-grey {
  background-color: #F0F0F0;
}

.text-between-lighter-lightest-grey {
  color: #F0F0F0;
}

.bg-lightest-grey {
  background-color: #FAFAFA;
}

.text-lightest-grey {
  color: #FAFAFA;
}

.bg-pm-pink {
  background-color: #FF5C58;
}

.text-pm-pink {
  color: #FF5C58;
}

.bg-pm-pink-hover {
  background-color: #D93632;
}

.text-pm-pink-hover {
  color: #D93632;
}

/* -------------------------------------------------------------------------- */
/*                              Alignment styles                              */
/* -------------------------------------------------------------------------- */
.inline-flex-center-center {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* -------------------------------------------------------------------------- */
/*                                Color Styles                                */
/* -------------------------------------------------------------------------- */
.pm-pink {
  color: #FF5C58;
}

/* -------------------------------------------------------------------------- */
/*                          Repeatable element styles                         */
/* -------------------------------------------------------------------------- */
.rounded-top-only {
  background: white;
  box-shadow: 0px -1px 1px 0px #CCCCCC;
  border-radius: 35px 35px 0 0;
  margin-bottom: 0;
  padding-top: 15px;
  width: 90vw;
  padding-bottom: 10px;
}
@media only screen and (min-width: 992px) {
  .rounded-top-only {
    box-shadow: 0px -2px 2px 1px rgba(204, 204, 204, 0.8);
  }
}

.rounded-bottom-only {
  background: white;
  box-shadow: 0px 1px 3px 0px #CCCCCC;
  border-radius: 0 0 35px 35px;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 10px;
}
@media only screen and (min-width: 992px) {
  .rounded-bottom-only {
    box-shadow: 0px 2px 4px 1px #CCCCCC;
  }
}

/* -------------------------------------------------------------------------- */
/*                                 Icon styles                                */
/* -------------------------------------------------------------------------- */
.pm-icon {
  width: 60px;
  height: 60px;
  background: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 1px 1px #e6e6e6;
}
.pm-icon img {
  max-height: 60%;
  max-width: 60%;
}
@media only screen and (min-width: 992px) {
  .pm-icon {
    width: 80px;
    height: 80px;
  }
}
@media only screen and (min-width: 1400px) {
  .pm-icon {
    width: 100px;
    height: 100px;
  }
}

.pm-big-icon {
  width: 60px;
  height: 60px;
  min-height: 60px;
  min-width: 60px;
  background: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 1px 1px #e6e6e6;
}
.pm-big-icon h1 {
  transform: translateY(5px);
  color: #6F6F6F;
  font-size: 2em;
}
.pm-big-icon img {
  max-height: 60%;
  max-width: 60%;
}
@media only screen and (min-width: 768px) {
  .pm-big-icon {
    width: 80px;
    height: 80px;
  }
}

.pm-icon-text h4 {
  color: #2d2d2d;
  font-size: 1.2em;
  font-weight: 300;
}

/* -------------------------------------------------------------------------- */
/*                        Contact page footer situation                       */
/* -------------------------------------------------------------------------- */
.flex-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

/* -------------------------------------------------------------------------- */
/*                             entire loading page                            */
/* -------------------------------------------------------------------------- */
:root {
  --background-color: white;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100000000;
  background: white;
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
  #container-loader {
    padding-top: 25%;
  }
}
@media only screen and (min-width: 1400px) and (orientation: landscape) {
  #container-loader {
    padding-top: 10%;
  }
}

.loader-container ::before {
  position: absolute;
  content: "";
}

/* -------------------------------------------------------------------------- */
/*                                 Containers                                 */
/* -------------------------------------------------------------------------- */
.loader-container {
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translate(-50%, -50%);
  background: var(--background-color);
}
@media only screen and (min-width: 768px) and (orientation: portrait) {
  .loader-container {
    bottom: 40%;
  }
}
@media only screen and (min-width: 768px) and (orientation: landscape) {
  .loader-container {
    bottom: 30%;
  }
}
@media only screen and (min-width: 1400px) and (orientation: landscape) {
  .loader-container {
    bottom: 40%;
  }
}

/* reflection of the animation in the bottom */
.wrapper {
  -webkit-box-reflect: below 5px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  /*  Just to make it center  */
  transform: translatey(-25%);
}

/* -------------------------------------------------------------------------- */
/*                        center white/invisible circle                       */
/* -------------------------------------------------------------------------- */
.loading {
  width: 150px;
  height: 150px;
  border-radius: 999px;
  transform: rotate(-45deg);
  animation: animated-curve 2.5s ease-in-out infinite;
  margin: auto;
}

/* -------------------------------------------------------------------------- */
/*                           Light grey semi-circle                           */
/* -------------------------------------------------------------------------- */
.loading::before {
  bottom: 0;
  background: #E6E6E6;
  width: 100%;
  height: 50%;
  border-radius: 0 0 999px 999px;
}

/* -------------------------------------------------------------------------- */
/*                                The pm-pink ball                               */
/* -------------------------------------------------------------------------- */
/* inner-cirle with the ball */
.inner_circle {
  position: absolute;
  inset: 20px;
  background: var(--background-color);
  border-radius: 999px;
  animation: animated-ball 2.5s ease-in-out infinite;
}

/* style for the ball */
.inner_circle::before {
  inset: 2px;
  top: 45%;
  background: #FF5C58;
  width: 25px;
  height: 25px;
  border-radius: 999px;
}

/* -------------------------------------------------------------------------- */
/*                                  Keyframes                                 */
/* -------------------------------------------------------------------------- */
/* rotating the ball from initial point to -180deg */
@keyframes animated-ball {
  50% {
    transform: rotate(-180deg);
  }
}
/* rotating the circle from initial point (-45deg) to 45deg */
@keyframes animated-curve {
  50% {
    transform: rotate(45deg);
  }
}
.menu-icons {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  z-index: 1000;
}
@media only screen and (min-width: 768px) {
  .menu-icons {
    width: 100vw;
  }
}

#logo {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  color: #FF5C58;
  background: white;
  box-shadow: -1px 1px 1px 1px #e6e6e6;
  border-radius: 0 0 0 15px;
  padding-left: 2px;
  width: 52px;
  height: 50px;
  margin: 0;
  z-index: 1001;
  transition: color 0.2s, background 0.5s, width 0.5s;
}
#logo:hover {
  width: 60px;
  background: #FF5C58;
  color: white;
}

#md-logo {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  color: white;
  background: #FF5C58;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0 0 15px 0;
  left: 0;
  box-shadow: 1px 1px 1px 1px #CCCCCC;
  transition: all 0.5s;
}
#md-logo:hover {
  padding-left: 15px;
  padding-right: 15px;
  background: #ff110c;
  cursor: pointer;
}
@media only screen and (min-width: 1400px) {
  #md-logo {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 3px;
  }
}

#offerings-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  color: white;
  background: #CCCCCC;
  box-shadow: -1px 1px 1px 1px #CCCCCC;
  border-radius: 0 0 0 15px;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  margin: 0;
  z-index: 1001;
  transition: all 0.5s;
}
#offerings-btn:hover {
  padding-right: 15px;
  padding-left: 15px;
  background: #FF5C58;
  cursor: pointer;
}

#burger-nav {
  margin: 0;
  width: 50px;
  height: 50px;
  background: #9F9E9E;
  box-shadow: 0 1px 1px 1px #CCCCCC;
  transition: all 0.5s;
}
#burger-nav:hover {
  cursor: pointer;
  background: #868484;
  width: 65px;
}

/* nav-icon-5 */
.nav-icon-5 {
  width: 35px;
  height: 20px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.nav-icon-5 span {
  background-color: #fff;
  position: absolute;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 2px;
  transition-duration: 500ms;
}

.nav-icon-5 span:nth-child(1) {
  top: 0px;
  left: 0px;
}

.nav-icon-5 span:nth-child(2) {
  top: 9px;
  left: 0px;
  opacity: 1;
}

.nav-icon-5 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
}

@media only screen and (min-width: 992px) {
  .nav-icon-5:not(.open):hover span:nth-child(1) {
    transform: rotate(-3deg) scaleY(1.1);
  }

  .nav-icon-5:not(.open):hover span:nth-child(2) {
    transform: rotate(3deg) scaleY(1.1);
  }

  .nav-icon-5:not(.open):hover span:nth-child(3) {
    transform: rotate(-4deg) scaleY(1.1);
  }
}
.nav-icon-5.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 8px;
}

.nav-icon-5.open span:nth-child(2) {
  opacity: 0;
}

.nav-icon-5.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 8px;
}

#main-menu {
  z-index: 500;
  position: fixed;
  top: 0;
  left: 100vw;
  background: white;
  width: 100vw;
  height: 100vh;
  overflow: none;
  padding-top: 50px;
  opacity: 0;
  transition: left 0.3s ease-in, opacity 0.3s ease-in;
}
@media only screen and (min-width: 768px) {
  #main-menu {
    transition: left 0.5s ease-in, opacity 0.5s ease-in;
  }
}
#main-menu .menu-items {
  width: 80%;
  transform: translateX(100%);
  transition: transform 0.4s;
  transition-delay: 0.2s;
}
@media only screen and (min-width: 768px) {
  #main-menu .menu-items {
    transition-delay: 0.4s;
  }
}
#main-menu .menu-items ul {
  text-transform: lowercase;
  list-style: none;
  padding: 0;
}
#main-menu .menu-items ul li {
  font-size: 1.4em;
  line-height: 1.4em;
  margin-bottom: 10px;
}
@media only screen and (min-width: 992px) and (orientation: landscape) {
  #main-menu .menu-items ul li {
    font-size: 1em;
  }
}
#main-menu .button-group, #main-menu .socials-group {
  width: 80%;
  margin-top: 30px;
  font-size: 1.4em;
}
@media only screen and (min-width: 992px) and (orientation: landscape) {
  #main-menu .button-group, #main-menu .socials-group {
    font-size: 1em;
  }
}
#main-menu .button-group {
  transform: translateX(120%);
  transition: transform 0.4s;
  transition-delay: 0.2s;
}
@media only screen and (min-width: 768px) {
  #main-menu .button-group {
    transition-delay: 0.45s;
  }
}
#main-menu .socials-group {
  transform: translateY(100px);
  transition: transform 0.4s ease-in-out;
  transition-delay: 0.3s;
}
@media only screen and (min-width: 768px) {
  #main-menu .socials-group {
    transition-delay: 0.6s;
  }
}
@media only screen and (min-width: 768px) {
  #main-menu {
    width: 50vw;
    margin-left: 50vw;
  }
}
@media only screen and (min-width: 1200px) {
  #main-menu {
    width: 40vw;
    margin-left: 70vw;
  }
}

#main-menu.open {
  left: 0;
  opacity: 1;
}
#main-menu.open .menu-items {
  transform: translateX(0);
}
#main-menu.open .button-group {
  transform: translateX(0);
}
#main-menu.open .socials-group {
  transform: translateY(0);
}

#main-menu-cover {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
}

#wrapper {
  transition: filter 0.5s ease-in, opacity 0.5s ease-in;
}

#wrapper.open {
  filter: blur(4px);
  opacity: 0.5;
  pointer-events: none;
}

.footer {
  margin-top: 50px;
}
.footer #footer-banner {
  width: 100vw;
  background: #F0F0F0;
  color: #6F6F6F;
  text-align: center;
  padding-top: 10px;
  margin-top: 0;
  padding-bottom: 10px;
}
.footer #footer-content {
  box-shadow: 0px -1px 1px 0px #CCCCCC;
  border-radius: 25px 25px 0 0;
  margin-bottom: 0;
  margin: 0 5px 40px 0;
  padding-top: 30px;
  width: 95vw;
}
.footer .menu-items {
  width: 80%;
  margin-top: 30px;
}
.footer .menu-items ul {
  text-transform: lowercase;
  list-style: none;
  padding-left: 0;
}
@media only screen and (min-width: 768px) {
  .footer .menu-items ul {
    text-align: center;
  }
}
.footer .menu-items ul li {
  line-height: 1em;
  padding-top: 5px;
  margin-bottom: 10px;
  display: inline-block;
}
.footer .menu-items ul li:not(:last-child) {
  padding-right: 10px;
  border-right: 2px solid #CCCCCC;
  margin-right: 10px;
}
.footer .button-group, .footer .socials-group {
  width: 80%;
  margin-top: 30px;
}
@media only screen and (min-width: 768px) {
  .footer .button-group, .footer .socials-group {
    text-align: center;
  }
}
.footer #las-footer {
  padding: 0 20px;
}
.footer #las-footer a {
  color: #9F9E9E;
  line-height: 0.9em;
}
@media only screen and (min-width: 768px) {
  .footer #las-footer a {
    font-size: 0.9em;
    line-height: 1em;
  }
}
.footer #las-footer #my-logo img {
  width: 25px;
  margin-right: 10px;
}

/* -------------------------------------------------------------------------- */
/*                      next page and previous page icons                     */
/* -------------------------------------------------------------------------- */
.btn.next-button {
  padding-left: 30px;
  background: #FAFAFA;
  border: 1px solid #6F6F6F;
  border-radius: 2em;
  font-size: 1.3em;
  font-weight: 200;
  padding-right: 100px;
  transition: all 0.5s;
}
.btn.next-button next-icon {
  background-color: #FF5C58;
  border-radius: 2em;
  border: 1px solid #FF5C58;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.5s;
}
@media only screen and (min-width: 1400px) {
  .btn.next-button {
    margin-right: 100px;
  }
}

.btn.next-button:active,
.btn.next-button:focus,
.btn.next-button.active,
.btn.next-button:hover {
  padding-left: 20px;
  padding-right: 120px;
}
.btn.next-button:active next-icon,
.btn.next-button:focus next-icon,
.btn.next-button.active next-icon,
.btn.next-button:hover next-icon {
  padding: 0 40px;
  background: #ff110c;
}

#to-top {
  position: fixed;
  bottom: -200px;
  right: 10px;
  opacity: 0.8;
  transition: all 0.5s;
}
@media only screen and (min-width: 768px) {
  #to-top {
    right: 25px;
  }
}
@media only screen and (min-width: 1400px) {
  #to-top {
    font-size: 1.5em;
    width: 2em;
    height: 2em;
  }
}

#to-top:hover, #to-top:active {
  background: #CCCCCC;
}

/* -------------------------------------------------------------------------- */
/*                               Banner: Network                              */
/* -------------------------------------------------------------------------- */
#network-container {
  padding: 0;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: hiddent;
  position: relative;
  background: #FAFAFA;
}
@media only screen and (min-width: 768px) and (orientation: portrait) {
  #network-container {
    height: 60vh;
  }
}
@media only screen and (min-width: 992px) {
  #network-container {
    height: 75vh;
    box-shadow: 0px 1px 3px 3px #e6e6e6;
  }
}

#particles-js {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
  position: absolute;
}
@media only screen and (min-width: 768px) and (orientation: portrait) {
  #particles-js {
    height: 60vh;
  }
}
@media only screen and (min-width: 992px) {
  #particles-js {
    height: 75vh;
  }
}

#opaque-layer {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0.5) 100%);
}
@media only screen and (min-width: 768px) and (orientation: portrait) {
  #opaque-layer {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.5) 100%);
  }
}

#particles-text {
  width: 100vw;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}
#particles-text h1 {
  padding-bottom: 20vh;
  text-shadow: 2px 2px 5px white;
}
@media only screen and (min-width: 992px) {
  #particles-text h1 {
    font-size: 3em;
    font-weight: 200;
    padding-bottom: 30vh;
  }
}
#particles-text #website-title {
  padding-bottom: 0;
  font-size: 1.4em;
}
@media only screen and (min-width: 992px) {
  #particles-text #website-title {
    font-size: 1.8em;
    font-weight: 400;
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) {
  #typewriter {
    width: 75%;
    box-shadow: 0px -1px 1px 0px #CCCCCC;
  }
}

/* -------------------------------------------------------------------------- */
/*                               Stuck animation                              */
/* -------------------------------------------------------------------------- */
#stuck-animation {
  width: 60vw;
  height: 60vw;
  border-radius: 100%;
  background: white;
  box-shadow: 1px 2px 1px 1px #e6e6e6;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#stuck-animation img {
  width: 80%;
}
@media only screen and (min-width: 768px) {
  #stuck-animation {
    width: 100%;
    height: 100%;
    background: none;
    border-radius: none;
    box-shadow: none;
  }
  #stuck-animation img {
    max-width: 80%;
    max-height: 80%;
  }
}
@media only screen and (min-width: 992px) and (orientation: landscape) {
  #stuck-animation {
    justify-content: right;
  }
  #stuck-animation img {
    width: 80%;
    height: auto;
  }
}

/* -------------------------------------------------------------------------- */
/*                           Leadership coach pop-out                          */
/* -------------------------------------------------------------------------- */
#pop-out {
  box-shadow: 0px -1px 1px 0px #CCCCCC;
  border-radius: 35px;
  margin-bottom: 0;
  padding-top: 70px;
  padding-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  #pop-out {
    border-radius: 0 35px 35px 0;
    transform: translateX(-10px);
    padding-top: 30px;
    padding-bottom: 25px;
  }
}
@media only screen and (min-width: 992px) {
  #pop-out {
    padding-top: 75px;
    padding-bottom: 75px;
    box-shadow: 0px -2px 3px 1px #CCCCCC;
  }
}
@media only screen and (min-width: 1400px) {
  #pop-out {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media only screen and (min-width: 768px) {
  #pop-over-container {
    margin-left: 0;
    padding-left: 0;
    padding-top: 3rem;
  }
}

/* -------------------------------------------------------------------------- */
/*                                 Paper plane                                */
/* -------------------------------------------------------------------------- */
@media only screen and (min-width: 1400px) {
  #paper-plane {
    padding-top: 5rem;
  }
}
#paper-plane .row {
  --bs-gutter-x: 0;
}

/* -------------------------------------------------------------------------- */
/*                              General elements                              */
/* -------------------------------------------------------------------------- */
@media only screen and (min-width: 768px) {
  .homepage-divider {
    height: 5vh;
  }
}
@media only screen and (min-width: 1400px) {
  .homepage-divider {
    height: 2vh;
  }
}

/* -------------------------------------------------------------------------- */
/*                                  Offerings                                 */
/* -------------------------------------------------------------------------- */
.offering {
  background: white;
  border-radius: 25px;
  padding: 30px;
  box-shadow: 0px -1px 3px 0px #CCCCCC;
  height: 100%;
}
.offering h2 {
  font-size: 1.3em;
  text-transform: uppercase;
  margin-bottom: 15px;
}

next-home-icon {
  display: block;
  background-color: #FF5C58;
  border-radius: 2em;
  border: 1px solid #FF5C58;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.5s;
  font-size: 1.5em;
  height: 1.6em;
}

/* -------------------------------------------------------------------------- */
/*                                To be deleted                               */
/* -------------------------------------------------------------------------- */
.temp {
  height: 50vh;
}

#portrait {
  width: 100%;
  height: auto;
}

.portrait-description {
  margin-top: 5px;
  margin-bottom: 20px;
  padding-left: 2px;
  color: #9F9E9E;
  font-style: italic;
}

#portrait img {
  max-width: 100%;
}

/* -------------------------------------------------------------------------- */
/*                          Timeline Visual Elements                          */
/* -------------------------------------------------------------------------- */
.timeline-container {
  height: auto;
  overflow: hidden;
  position: relative;
}

.top-circle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #CCCCCC;
  position: absolute;
  left: 20px;
  top: 0;
}

.bottom-circle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #FF5C58;
  position: absolute;
  left: 20px;
  bottom: 0;
}

.center-line {
  position: absolute;
  left: 30px;
  height: 100%;
  border-left: 2px dashed #9F9E9E;
  stroke-dasharray: 10;
}

/* -------------------------------------------------------------------------- */
/*                    Text Components with horizontal line                    */
/* -------------------------------------------------------------------------- */
.content-experience {
  width: 80%;
  transform: translateX(30%);
  margin-top: 50px;
  margin-bottom: 50px;
}
@media only screen and (min-width: 768px) {
  .content-experience {
    transform: translateX(20%);
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
.content-experience div {
  width: 100%;
  transform: translate(-19%, 0.4em);
  position: relative;
}
.content-experience div .line {
  border-top: 2px dashed #9F9E9E;
  stroke-dasharray: 10;
  width: 15%;
  position: absolute;
  top: 0;
  left: 0;
}
@media only screen and (min-width: 768px) {
  .content-experience div {
    transform: translate(-10%, 0.4em);
  }
  .content-experience div .line {
    width: 10%;
  }
}
@media only screen and (min-width: 1400px) {
  .content-experience div {
    transform: translate(-14%, 0.4em);
  }
}

.first-experience {
  margin-top: 70px;
}

/* -------------------------------------------------------------------------- */
/*                                 Text styles                                */
/* -------------------------------------------------------------------------- */
span.company {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  color: #FF5C58;
}

span.location {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  color: #6F6F6F;
}

p.position {
  color: #9F9E9E;
}

h1.offering-headline {
  font-size: 1.8em;
  color: #6F6F6F;
}

@media only screen and (min-width: 992px) {
  .diagram {
    max-width: 75%;
  }
}

@media only screen and (min-width: 768px) {
  .diagram-big {
    max-width: 75%;
  }
}

#offering-selection {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  z-index: 500;
}
@media only screen and (min-width: 768px) {
  #offering-selection {
    z-index: 10000;
  }
}

.offerings-btn {
  font-size: 0.8em !important;
  border-radius: 0 !important;
}
@media only screen and (min-width: 768px) {
  .offerings-btn {
    border-radius: 5px 5px 0 0 !important;
    padding: 15px 5px;
  }
}

.btn-dropdown, .btn-dropdown:hover {
  background: #FF5C58;
  color: white;
  border-radius: 25px;
  font-size: 1em;
  font-weight: 300;
  transition: all 0.2s ease-out;
}

.wpcf7 form .wpcf7-response-output {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #6F6F6F;
  margin: 2em 0.5em 1em;
  padding: 0.2em 1em;
  border: 2px solid #e4e4e4;
  /* Grey */
  border-radius: 5px;
}
@media only screen and (min-width: 992px) {
  .wpcf7 form .wpcf7-response-output {
    font-weight: 200;
  }
}

.wpcf7 form.init .wpcf7-response-output {
  display: none;
}

.wpcf7 form.sent .wpcf7-response-output {
  border-color: #73db7b;
  /* Green */
}

.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
  border-color: #dc3232;
  /* Red */
}

.wpcf7 form.spam .wpcf7-response-output {
  border-color: #f99461;
  /* Orange */
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output {
  border-color: #fcdc83;
  /* Yellow */
}

.wpcf7-not-valid-tip {
  color: #FF5C58;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.wpcf7-spinner {
  display: none;
}

/* -------------------------------------------------------------------------- */
/*                                   General                                  */
/* -------------------------------------------------------------------------- */
html, body {
  width: 100vw;
  max-width: 100vw;
}

.container, .container-fluid {
  max-width: 100vw;
}

body {
  font-size: 1em;
  visibility: hidden;
}
@media only screen and (min-width: 1400px) {
  body {
    font-size: 1.3em;
  }
}

div.body-padding-top {
  padding-top: 100px;
}
@media only screen and (min-width: 1400px) {
  div.body-padding-top {
    padding-top: 150px;
  }
}

div.header-padding-top {
  padding-top: 50px;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

/* -------------------------------------------------------------------------- */
/*                                    Fonts                                   */
/* -------------------------------------------------------------------------- */
h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  color: #9F9E9E;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.8em;
  font-weight: 200;
  color: #6F6F6F;
}

h2.smaller {
  font-size: 1.5em;
}

h3 {
  font-size: 1.5em;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  color: #9F9E9E;
}
@media only screen and (min-width: 992px) {
  h3 {
    font-size: 2em;
  }
}

h4 {
  font-weight: 300;
  color: #6F6F6F;
}

h6 {
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  color: #6F6F6F;
}

li, p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #6F6F6F;
}
@media only screen and (min-width: 992px) {
  li, p {
    font-weight: 200;
  }
}

li {
  padding-bottom: 10px;
}

b {
  font-weight: 700;
}

ul {
  padding-left: 1rem;
}

a {
  display: inline-block;
  position: relative;
  color: #6F6F6F;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  transition: color 0.5s ease-out;
  font-weight: 300;
}
a:active, a:hover {
  color: #6F6F6F;
}
@media only screen and (min-width: 992px) {
  a {
    font-size: 1.2em;
  }
}

/* Fade in */
a:not(.btn)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #FF5C58;
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
  transition: opacity 300ms, transform 300ms;
  color: #6F6F6F;
}

a:not(.btn):hover::after,
a:not(.btn):focus::after {
  opacity: 1;
  transform: translate3d(0, 0.8em, 0);
  transform: scale(1);
  color: #6F6F6F;
}

.faded {
  color: #CCCCCC;
}

.uppercase {
  text-transform: uppercase;
}

/* -------------------------------------------------------------------------- */
/*                                   Buttons                                  */
/* -------------------------------------------------------------------------- */
.btn.btn-pm-pink {
  background: #FF5C58;
  color: white;
  border-radius: 25px;
  font-size: 0.9em;
  font-weight: 300;
  transition: all 0.2s ease-out;
}
@media only screen and (min-width: 992px) {
  .btn.btn-pm-pink {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 1400px) {
  .btn.btn-pm-pink {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.btn.btn-pm-pink:hover {
  background: #ff110c;
  box-shadow: 1px 1px 1px 2px #CCCCCC;
}

.btn.btn-grey {
  background: #9F9E9E;
  color: white;
  border-radius: 25px;
  font-size: 0.9em;
  font-weight: 300;
  transition: all 0.2s ease-out;
}
@media only screen and (min-width: 992px) {
  .btn.btn-grey {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 1400px) {
  .btn.btn-grey {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.btn.btn-grey:hover {
  background: #6F6F6F;
  box-shadow: 1px 1px 1px 2px #CCCCCC;
}

.btn.btn-social {
  background: #CCCCCC;
  color: white;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.btn.btn-social:hover {
  background: #FF5C58;
  box-shadow: 1px 1px 1px 2px #CCCCCC;
}

/*# sourceMappingURL=style.css.map */
